div.stars {
    position: relative;
    top: 65px;
    width: 270px;
    display: inline-block;
  }
  input.star { display: none; }
  label.star {
    float: right;
    padding: 10px;
    font-size: 32px;
    color: #444;
    transition: all .2s;
  }
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #087cfc;
    transition: all .25s;
  }
  input.star-5:checked ~ label.star:before {
    color: #087cfc;
    text-shadow: 0 0 20px #94dde6 ;
  }
  input.star-1:checked ~ label.star:before { color: #087cfc; }
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

.loginlabel1{
    text-align: center;
    align-content: center;
    color: white;
    font-weight: 800;
    font-size: 35px;
    font: Verdana;
  
    
}
div.logins{
    align-content: center;
}
.login{
    
    background-color: transparent;
    padding: 3px;
    
    background-color: rgba(41, 39, 39, 0.3);
  box-shadow: 0 5px 30px #E1D9D1;
    
    border-radius: 20px;
    position: absolute;
    width: 20%;
    top: 70%;
    left: 40%;
    right: 40%;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    align-items:center ;
   
    
    
}
.loginbtn{
    color: white;
    background-color: #087cfc;
    font-size: 20px;
  font-weight: 700;
    border: none;
    align-content: center;
    border-radius: 4px;
    position: absolute;
    width: 80%;
    top: 185px;
    left: 10%;
    right: 10%;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    
    
    
}
.heslo{
   
    
    position: relative;
  border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  color: white;
    
  
  left: 10%;
    
}
.devlog{
    
    text-align: center;
    align-self: center;
    color:  white;
    font-size: 180px;
    text-shadow: 0 5px 10px #E1D9D1;
    font: Verdana;
}
.zaznam{
    
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    top: 560px;
    left: 30%;
    right: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items:center ;
    padding: 50px;
    border: 2px solid black;
    border-color: black;
    border-radius: 20px;
}
.tvorba{
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    top: 450px;
    left: 30%;
    right: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items:center ;
    padding: 50px;
    border: 2px solid black;
    border-color: black;
    border-radius: 20px;
}
.heslo2{
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    top: 350px;
    left: 30%;
    right: 25%;
    color: black;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items:center ;
    padding: 50px;
    border: 2px solid black;
    border-color: black;
    border-radius: 20px;
}
.User{
    align-self: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    top: 350px;
    left: 30%;
    right: 25%;
    color: black;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items:center ;
    padding: 50px;
    border: 2px solid black;
    border-color: black;
    border-radius: 20px;
}

.zaznamtext{
    position: relative;
    top: 50px;
    resize: none;
    width: 80%;
     height: 240px;
    border-radius: 10px;
    border: 1px solid white;
    border-color:#087cfc ;
    font-weight: 500;
}
.zaznamtext:focus{
    
    border: 2px solid white;
    border-color:#087cfc ;
    outline: none;
}


.zaznamcnt{
    position: relative;
    top: 10px;
    left: 32% ;
    color:  #087cfc;
    font-weight: 600;
}

.zaznambtn{
    
        color: white;
    background-color: #087cfc;
    font-size: 20px;
  font-weight: 700;
    border: none;
    align-content: center;
    border-radius: 4px;
    position: relative;
    width: 80%;
    top: 40px;
    left: 0%;
    right: 0%;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.zaznam1{
    position: relative;
    top: -10px;
     width: 80%;
    left: 0% ;
    border: 1px solid #087cfc;
    font-weight: 500;
    border-color:#087cfc ;
    border-radius: 5px;
} 
.zaznam1:focus{
    
    border: 2px solid white;
    border-color:#087cfc ;
    outline: none;
}

.zaznam2{
    position: relative;
    top: 15px;
     width: 80%;
    left: 0% ;
    border: 1px solid #087cfc;
    font-weight: 500;
    border-color:#087cfc ;
    border-radius: 5px;
} 
.zaznam2:focus{
    
    border: 2px solid white;
    border-color:#087cfc ;
    outline: none;
}
.zaznam3{
    position: relative;
    top: 40px;
     width: 80%;
    left: 0% ;
    border: 1px solid #087cfc;
    font-weight: 500;
    border-color:#087cfc ;
    border-radius: 5px;
} 
.zaznam3:focus{
    
    border: 2px solid white;
    border-color:#087cfc ;
    outline: none;
}
.zaznam4{
    position: relative;
    top: 65px;
     width: 80%;
    left: 0% ;
    border: 1px solid #087cfc;
    font-weight: 500;
    border-color:#087cfc ;
    border-radius: 5px;
    
} 
.zaznam4:focus{
    
    border: 2px solid white;
    border-color:#087cfc ;
    outline: none;
}
option {
    color:black;
    font-weight: 500;
    background-color: #1e90ff;
}
option:not(:checked) {
    font-weight: 500;
    color:black;
    background-color:white;
    
}
.pf{
    position: relative;
    top: -150px;
    left: 65%;
    border-radius: 50%;
    

}
.profil{
    background-color: white;
    border-radius: 10px;
    border: 1.5px solid  #087cfc;
}
.table{
    background-color: white;
}
.profil_nadpis{
    font-weight: 600;
    font-size: 50px;
    position: relative;
    top: 10px;
    left: 10%;
}
.profiludaje{
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 2%;
    text-align: left;
}
.profiltd1{
    width: 50%;
    border-bottom: 1.5px solid  #087cfc; 
    
}
.profiltd2{
   width: 300px;
    
    border-bottom: 1.5px solid  #087cfc; 
    
}
.zaznamy{
    background-color: white;
}
.profilbtn{
    position: relative;
    
    
    left: 71.3%;
    top: 100px;
    background-color: #087cfc;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.profilbtn2{
    position: relative;
    
    
    left: 58.75%;
    top: -120px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: 425px;
    
}
.btn3 {
  background-color:#087cfc;
  color: white;
  
  border: none;
  border-radius: 4px;
}

.pf1{
    position:absolute;
    right: 90px;
    top: 0px;
}
.pf2{
    border-radius: 50%;
}
.zaznam10{
    position: relative;
    top: -10px;
     width: 80%;
    left: 10% ;
    border: 1px solid #087cfc;
    font-weight: 500;
    border-color:#087cfc ;
    border-radius: 5px;
} 
.zaznam10:focus{
    
    border: 2px solid white;
    border-color:#087cfc ;
    outline: none;
}
.label{
    text-align: center;
    align-content: center;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.home{
      position: relative;
    
    
    left: 10%;
    top: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: 405px;
}
.slider {
    -webkit-appearance: none;
    position: relative;
    top: 65px;
    width: 80%;
    display: inline-block;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #087cfc;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #087cfc;
    cursor: pointer;
  }

    

    


    
