<!-- home.html -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/CSS_TdA.css">
    <!-- Add your head content here -->
</head>
<body>
    <!-- Display a list of lecturers with links -->
    <ul>
        {% for lecturer in lecturers %}
            <li>
                <div class="container">



<div class="info">

{% for lecturer in lecturers %}
    <!-- Display a list of lecturers with links -->
    <div class="profile">
      <img src="{{ lecturer.picture_url }}" alt="pic of tutor" width=400px height=auto>
      </div>

      <div class="info">

      <p>{{ lecturer.title_before }} {{ lecturer.first_name }} {{ lecturer.middle_name }} {{ lecturer.title_after }}</p>
      <p>{{ lecturer.location }}</p>
      <p>{{ lecturer.claim }}</p>
      <p>Cena za hodinu: {{ lecturer.price_per_hour }}</p>
      <p>Telefon: {{lecturer.email}}</p>
      <p>Email: {{lecturer.email}}</p>
      {% for tag in lecturer.tags %}
                        <p>{{ tag.name }}</p>
                    {% endfor %}
      </div>
      </div>
      <div class="content-container">
        {% endfor %}



</div>

                
                
                
                

</body>


</body>
</html>
