<!-- home.html -->

<!DOCTYPE html>
<html>
<head>
    <!-- Add your head content here -->
</head>
<body>
    <!-- Display a list of lecturers with links -->
    <ul>
        {% for lecturer in lecturers %}
            <li>
                <a href="{{ url_for('views.profile', uuid=lecturer.t_uuid) }}">
                    {{ lecturer.first_name }} {{ lecturer.last_name }}
                </a>
                {{ lecturer.claim }}
                
                <img class="profile" src="{{ lecturer.picture_url }}" alt="Obrázek lektora">
                
                <ul>
                    {% for tag in lecturer.tags %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
                
                {{ lecturer.location }}
                {{ lecturer.price_per_hour }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>