{% extends "base.html" %}
 
{% block content%}
<style>
body {
 
  background-image: url('/static/files/img/bg2.png');
  
  
  
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */

}
</style>
    <br><br><br><br>

     <section class="profil">
         <p class="profil_nadpis">placeholder</p>
         
         <table class="profiludaje" border-collapse: collapse; >
             <tr class="profiltr"> <td class="profiltd1">
                 email: 
                 </td>
                 <td class="profiltd2"> placeholder </td>
             
             </tr>
               
             <tr><td class="profiltd1" >
                 celé jméno: 
                 </td>
                 <td class="profiltd2"> placeholder </td>
             
             </tr>
                    
             <tr><td class="profiltd1" >
                 uživatelské jméno: 
                 </td>
                 <td class="profiltd2" > placeholder </td>
             
             </tr>

                         
         
         
         </table>

   
 <img class="pf" src="{{ text }}" width="200" height="200"/>

  </section>
       


{% endblock%}